.container{
  width: 1200px;
  margin: 0 auto;
  padding: 50px 0;
  display: flex;
  flex-direction: column-reverse;
  gap: 20px;
}

.table .icon-del{
  padding-left: 0;
  padding-right: 0;
  cursor: pointer;
}
.table .icon-update{
  padding-left: 0;
  padding-right: 0;
  cursor: pointer;
}

.table thead th{
  border-bottom: none;
}

.table thead th:first-child{
  border-top: none;
}

.container__control{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}